version: '3'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/nyse
      REDIS_URL: redis://redis:6379/0
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: nyse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  redis:
    image: redis:7
